---
import BaseLayout from '../layouts/BaseLayout.astro';
import Ressource from '../components/Ressource.jsx'
import { Contents } from '../components/content.mjs'

const contents = await Contents.fetch()
contents.filterPrivate()

const currentDt = contents.datas[0].dt_created_at
const currentYear = currentDt.getFullYear()
const currentMonth = currentDt.getMonth()

const currents = []
let nextYear = null
let nextMonth = null

// Select only the current month entries
for (const data of contents.datas) {
  const dt = data.dt_created_at
  if (dt.getFullYear() === currentYear && dt.getMonth() === currentMonth) {
    await data.addMarkdownDescription()
    currents.push(data)
  } else {
    nextYear = String(dt.getFullYear())
    nextMonth = String(dt.getMonth() + 1).padStart(2, "0")
    // next month so stop here
    break
  }
}

const nextUrl = `/blog-${nextYear}-${nextMonth}`
---
<BaseLayout title="Blog">
  <section class="px-2 mt-8 max-w-screen-md">
    {currents.map(c => (
      <div class="">
        <Ressource content={c}/>
      </div>
    ))}
  </section>
  <section class="px-2 my-8 max-w-screen-md">
    <div class="flex flex-row justify-center">
      <a href={nextUrl} class="font-bold uppercase tracking-wider text-purple-600">
        Older
      </a>
    </div>
  </section>
</BaseLayout>