---
import BaseLayout from '../layouts/BaseLayout.astro';
import Ressource from '../components/Ressource.jsx'
import { Contents } from '../components/content.mjs'

const contents = await Contents.fetch()
contents.filterPrivate()

// next url
const nextDt = contents.datas[5].dt_created_at
const nextYear = String(nextDt.getFullYear())
const nextMonth = String(nextDt.getMonth() + 1).padStart(2, "0")
const nextUrl = `/blog-${nextYear}-${nextMonth}`

// Trim to the first 5 entries
contents.firsts(5)
await contents.addMarkdownDescription()
---
<BaseLayout title="Blog">
  <section class="px-2 mt-8 max-w-screen-md">
    {contents.datas.map(c => (
      <div class="">
        <Ressource content={c}/>
      </div>
    ))}
  </section>
  <section class="px-2 my-8 max-w-screen-md">
    <div class="flex flex-row justify-center">
      <a href={nextUrl} class="font-bold uppercase tracking-wider text-purple-600">
        More
      </a>
    </div>
  </section>
</BaseLayout>