---
import BaseLayout from '../layouts/BaseLayout.astro';
import Ressource from '../components/Ressource.jsx'
import { fetchContent, addMarkdown } from '../components/content.mjs'

const contents = await fetchContent()
const firsts = await addMarkdown(contents.slice(0, 5))

// next url
const nextDt = new Date(contents[5].created_at)
const nextYear = String(nextDt.getFullYear())
const nextMonth = String(nextDt.getMonth() + 1).padStart(2, "0")
const nextUrl = `/blog-${nextYear}-${nextMonth}`
---
<BaseLayout title="Blog">
  <section class="px-2 mt-8 max-w-screen-md">
    {firsts.map(c => (
      <div class="">
        <Ressource content={c}/>
      </div>
    ))}
  </section>
  <section class="px-2 my-8 max-w-screen-md">
    <div class="flex flex-row justify-center">
      <a href={nextUrl} class="font-bold uppercase tracking-wider text-purple-600">
        More
      </a>
    </div>
  </section>
</BaseLayout>