---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ContactBlock from '../components/ContactBlock.astro';
---
<BaseLayout title="Accueil">
  <section class="flex flex-col items-center min-h-[18rem] md:min-h-[24rem] lg:min-h-[32rem]">
    <div class="flex flex-col justify-center flex-grow items-center">
      <h1 class="text-3xl uppercase font-extrabold tracking-widest text-center text-purple-600">
        Full stack developer
      </h1>
      <div>
        #javascript #vue #react
      </div>
      <div>
        #rust #python
      </div>
    </div>
  </section>
  <section>
    <ContactBlock/>
  </section>
  <section class="flex flex-col px-2 py-6 mt-12">
    <div class="uppercase tracking-wider font-bold text-purple-600 text-sm">Projects</div>
    <div class="grid justify-between grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:max-w-screen-md lg:max-w-screen-xl">
      <ProjectCard
        img="/projects/soklaki.png"
        url="https://soklaki.fr"
        name="soklaki"
        github="https://github.com/kreako/soklaki"
      >
        <div>
          A SaaS for french schools to help them to comply with regulations. 
        </div>
        <div class="mt-4 text-sm">
          <p>
            Frontend with 
            <span class="font-bold">
              #vue
            </span>
            and
            <span class="font-bold">
              #tailwindcss
            </span>
          </p>
          <p>
            Backend with 
            <span class="font-bold">
              #rust
            </span>
            ,
            <span class="font-bold">
              #python
            </span>
            ,
            <span class="font-bold">
              #hasura
            </span>
            and
            <span class="font-bold">
              #postgresql 
            </span>
          </p>
          <p>
            Infrastructure with 
            <span class="font-bold">
              #docker/podman
            </span>
            ,
            <span class="font-bold">
              #ansible
            </span>
            ,
            <span class="font-bold">
              #prometheus
            </span>
            and
            <span class="font-bold">
              #grafana
            </span>
          </p>
        </div>
      </ProjectCard>
      <ProjectCard
        img="/projects/tailwind.png"
        url="https://github.com/kreako/inkscape-gimp-tailwindcss-palette"
        name="Tailwindcss palette"
        github="https://github.com/kreako/inkscape-gimp-tailwindcss-palette"
      >
        <div>
          Tailwindcss palette for inkscape or gimp. 
        </div>
        <div class="mt-4 text-sm">
          <p>
            <span class="font-bold">
              #javascript
            </span>
          </p>
        </div>
      </ProjectCard>
      <ProjectCard
        img="/projects/blog.png"
        url="https://kreako.fr/blog"
        name="Blog"
        github="https://github.com/kreako/kreako.fr"
      >
        <div>
          Astro site with a strapi/postgresql backend. Showcase, ressources and ideas storage.
        </div>
        <div class="mt-4 text-sm">
          <p>
            <span class="font-bold">
              #javascript
            </span>
            ,
            <span class="font-bold">
              #jsx
            </span>
            ,
            <span class="font-bold">
              #strapi
            </span>
            ,
            <span class="font-bold">
              #docker
            </span>
            ,
            <span class="font-bold">
              #ansible
            </span>
            ,
            <span class="font-bold">
              #jamstack
            </span>
          </p>
        </div>
      </ProjectCard>
      <ProjectCard
        img="/projects/music.png"
        url="#"
        name="Coming soon"
        github="#"
      >
        <div>
          Coming soon. 
        </div>
      </ProjectCard>
    </div>
  </section>
  <section class="mt-12">
    <ContactBlock/>
  </section>
</BaseLayout>
