asgiref==3.4.1
black==21.9b0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.1
fastapi==0.68.1
h11==0.12.0
idna==3.3
meilisearch==0.16.2
mypy-extensions==0.4.3
path==16.2.0
path.py==12.5.0
pathspec==0.9.0
platformdirs==2.4.0
pydantic==1.8.2
python-dotenv==0.19.1
redis==3.5.3
regex==2021.10.8
requests==2.26.0
rq==1.10.0
sh==1.14.2
starlette==0.14.2
tomli==1.2.1
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
