@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(fira-sans-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(fira-sans-bold.ttf) format('truetype');
}
body {
  font-family: 'Fira Sans', sans-serif;
  color: #1A202C;
}

.markdown h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markdown h2 {
  font-size: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.markdown h3 {
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.markdown p {
  padding-bottom: 1rem;
}

.markdown * strong {
  font-weight: 700;
}

.markdown li {
  list-style-type: disc;
}

.markdown a {
  --text-opacity: 1;
  color: #38b2ac;
  color: rgba(56, 178, 172, var(--text-opacity));
}

.markdown pre {
  white-space:pre-wrap;
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.markdown pre code {
  white-space:pre-wrap;
}
