@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(fira-sans-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(fira-sans-bold.ttf) format('truetype');
}
body {
  font-family: 'Fira Sans', sans-serif;
  color: #1A202C;
}

